<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ author_email }}">

    <title>{{ page_title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
    <link href="css/bundles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% include 'ga.html' %}

</head>

<body>

    {% include 'nav.html' %}

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ page_title }}</h1>
            </div>
        </div>
        <!-- /.row -->
      
        {% for bundle in bundles %}
        <div class="row bundle">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                    <h2>{{ bundle.name }} (Total: {{ bundle.total_cost }})</h2>
                    </div>
                </div>
                {% for item in bundle['items'] %}
                <div class="row bundle-item">
                    <div class="col-lg-2">
                        <h3 class="bundle-quantity">{{ item.quantity }} of these:</h3>
                    </div>
                    <div class="col-lg-6">
                        <h3><a href="{{ item.cdwg_href }}" target="_blank">{{ item.name }}</a></h3>
                        <ul>
                            <li>Cost per item: {{ item.price_each }}</li>
                            <li>Total cost in this bundle: {{ item.total_cost }}</li> 
                            {% if item.notes %}<li>{{ item.notes }}</li>{% endif %}
                            <li><a href="{{ item.cdwg_href }}" target="_blank">CDWG Link</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <a href="{{ item.cdwg_href }}" target="_blank">
                            <img class="img-responsive portfolio-item" src="{{ item.image_href }}" alt="{{ item.name }}">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Kellogg Information Systems 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer> 
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
</body>

</html>
